.bg-nav{
    background:linear-gradient(to right, #0077b6 ,#0096c7);
}
.img-extra{
    width: 60px;
}
.card-shadow{
    border: 2px solid #48c9e280 ;
    box-shadow: 2px 2px 2px #09799280;
}
.title{
    color: #316a89;
    font-size: 2.5rem;
}
.subtitle{
    color: #1297df;
}
.logo{
    width: 70px;
}
.p-card{
    border: 2px solid #90e0ef;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
    background: linear-gradient(#90e0ef, #ade8f4);
}
.p-img{
    width: 70px;
}
.m-img{
    width: 250px;
}
.o-img{
    max-height: 700px;
}
.h{
    height: 700px;
}
