/* VARIABLES */
$primary_color:#219ebc;
$secondary_color:#8ecae6;
$font_h1: 3rem;
$font_h2: 2.3rem;
$font_h3: 2rem;
$font_p: 1.4rem;
$background_principal:linear-gradient(to right, $primary_color, $secondary_color);